<% provide(:title, 'About Us') %>

    <h1>About Us</h1>
    <p><center>
      I'M A CAT<br />
RUN RUN RUN<br />
I'M A CAT<br />
JUMP ON THE CAT BOX<br />
JUMP OFF THE CAT BOX<br />
I'M A CAT<br />
RUN RUN<br />
JUMP ON THE LEDGE<br />
I'M A CAT<br />
JUMP OFF THE LEDGE<br />
RUNNNNN<br />
<br />
a poem by benena
</center>
    </p>
